@using DLibTestWebApp.Data
@model IEnumerable<tblkp_Lookup1>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="h2">tblkp_Lookup1 dictionary</h2>


<table class="table table-responsive table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Active</th>
            <th>Created On</th>
            <th>Created By</th>
            <th>Modified On</th>
            <th>Modified By</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (tblkp_Lookup1 singleModel in Model)
            {
                <tr>
                    <td>@singleModel.value</td>
                    <td>
                        @{
                            if (singleModel.is_active)
                            {
                                <i class="fa fa-check-circle-o"></i>
                            }
                            else
                            {
                                <i class="fa fa-circle-o"></i>
                            }
                        }
                    </td>
                    <td>@singleModel.created_on</td>
                    <td>@singleModel.created_by</td>
                    <td>@singleModel.modified_on</td>
                    <td>@singleModel.modified_by</td>
                    <td><button class="btn btn-primary btn-sm btnEdit" data-url="@Url.Action("Edit","Lookup1",new {area = "Admin", id=singleModel.id})"><i class="fa fa-edit"></i> Edit</button> | <a class="btn btn-warning btn-sm" href="@Url.Action("Toggle","Lookup1",new {area = "Admin", id = singleModel.id})"><i class="fa fa-check-circle-o"></i> Active On/Off</a> | <button class="btn btn-danger btn-sm btnDelete" data-url="@Url.Action("Delete","Lookup1",new {area = "Admin", id = singleModel.id})"><i class="fa fa-warning"></i> Delete</button></td> 
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7"><button class="btn btn-success btnCreate pull-right" data-toggle="modal" data-target="#createModal" data-url="@Url.Action("Create","Lookup1",new {area = "Admin"})"><i class="fa fa-plus-circle"></i> Add a new entry</button></td>
        </tr>
    </tfoot>
</table>

@{
    Html.RenderPartial("_BootstrapModalCreateLookup");
    Html.RenderPartial("_BootstrapModalDeleteLookup");
    Html.RenderPartial("_BootstrapModalEditLookup");
}

@section body
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('.btnDelete').each(function () {
                $(this).click(function() {
                    var url = $(this).data('url');
                    $.get(url, function (data) {
                        $('#divDeleteContent').html(data);

                        $('#deleteModal').modal('show');
                    });
                });
            });

            $('.btnEdit').each(function () {
                $(this).click(function () {
                    var url = $(this).data('url');
                    $.get(url, function (data) {
                        $('#divEditContent').html(data);

                        $('#editModal').modal('show');
                    });
                });
            });

            $('.btnCreate').each(function () {
                $(this).click(function () {
                    var url = $(this).data('url');
                    $.get(url, function (data) {
                        $('#divCreateContent').html(data);

                        $('#createModal').modal('show');
                    });
                });
            });

        });
    </script>
}
